[Unit]
Description=gunicorn service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cov19.virusmodels.org/djangoproject/
ExecStart=/home/ubuntu/cov19.virusmodels/venv/bin/gunicorn \
         --access-logfile - \
         --workers 3 \
         --bind unix:/home/ubuntu/cov19.virusmodels.org/etc/systemd/system/gunicorn.sock \
         cov19.config.wsgi:application

[Install]
WantedBy=multi-user.target